/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--Inter-Variable), sans-serif;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--text-weight);
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}
.header,
.main,
.dilog-section {
  inline-size: var(--section-inline-size);
}

.header {
  margin: 100px auto;
  border: var(--border);
  background-color: var(--background-color);
}

.main-title {
  font-family: var(--PressStart2P-Regular), sans-serif;
  line-height: 100%;
  text-align: center;
}

.logo-title {
  font-size: clamp(3.063rem, 2.71rem + 1.5vw, 4.063rem);
  margin-left: clamp(1rem, -1.344rem + 10vw, 7.656rem);
  margin-right: clamp(1rem, -1.344rem + 10vw, 7.656rem);
  margin-top: clamp(7.625rem, 7.449rem + 0.75vw, 8.125rem);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.subtitle {
  font-size: clamp(0.875rem, 0.677rem + 0.85vw, 1.438rem);
  margin-bottom: clamp(7.625rem, 7.449rem + 0.75vw, 8.125rem);
  text-transform: uppercase;
}

.main,
.dilog-section {
  margin: 0 auto;
}

.card {
  border: var(--border);
  background-color: var(--background-color);
}

.card:not(:last-of-type) {
  margin-bottom: 54px;
}

.card-title {
  font-variation-settings: "wght" var(--heading-weight);
  font-size: var(--standart-font-size);
  margin: 4px 10px;
  line-height: 122%;
  letter-spacing: 0;
}

.card-text {
  font-size: var(--standart-font-size);
  line-height: 21px;
  letter-spacing: 0;
}

.picture-box {
  position: relative;
  border-bottom: var(--border);
  border-top: var(--border);
}

.card-picture {
  display: block;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.text__label {
  position: absolute;
  display: inline-block;
  font-family: var(--PressStart2P-Regular), sans-serif;
  font-size: var(--custom-font-size);
  right: 25px;
  top: 25px;
  opacity: 50%;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
}

@supports ((text-stroke: 1px #ffffff) or (-webkit-text-stroke: 1px #ffffff)) {
  .text__label {
    -webkit-text-stroke: 1px #ffffff;
    text-stroke: 1px #ffffff;
    text-shadow: none;
  }
}

.text-section {
  margin: 25px;
  display: grid;
  gap: 25px;
}

.button-group {
  display: flex;
  justify-content: flex-end;
}

.card__like-button {
  all: initial;
  inline-size: 130px;
  block-size: 38px;
  border: var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 7px;
}

.card__icon-button {
  border: none;
  inline-size: 38px;
  block-size: 38px;
  transition: border 0.3s ease;
  display: flex;
  align-items: center;
  background-color: inherit;
  justify-content: center;
  border: 2px solid rgba(0, 0, 0, 0);
  cursor: pointer;
}

.card__icon-button:focus {
  border: none;
  outline: none;
}
.card__icon-button:focus-visible {
  border: 2px solid rgba(0, 0, 0, 1);
}

.like-icon {
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 36px;
}

.countour {
  transition: fill 0.1s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.sparks {
  opacity: 0;
}

.like-icon:hover .core {
  fill: var(--main-color);
}

.like-icon:hover .main-body {
  fill: var(--main-color);
}

.like-icon:active .core {
  animation: fill 0.3s linear;
  fill: var(--animation-color);
}

.like-icon:active .main-body {
  animation: fill 0.3s 0.05s linear;
  fill: var(--animation-color);
}

.like-icon.is-liked .core {
  animation: fill 0.3s linear;
  fill: var(--animation-color);
}

.like-icon.is-liked .main-body {
  animation: fill 0.3s 0.05s linear;
  fill: var(--animation-color);
}

.like-icon.is-liked .contour {
  transition: fill 0.3s 0.06s linear;
  fill: var(--animation-color);
}

.like-icon.is-liked {
  transform-origin: center;
  animation: heart-scale 0.3s 0.1s 1 ease-in backwards;
}

.like-icon.is-liked .sparks {
  transform-origin: center;
  animation: sparks-lighting 0.3s 0.3s 1 ease-in backwards;
}

.button__text {
  display: inline-block;
  font-family: var(--PressStart2P-Regular), sans-serif;
  font-size: var(--custom-font-size);
  position: relative;
  line-height: 100%;
  color: var(--background-color);
  mix-blend-mode: difference;
  z-index: 2;
}

.card__like-button .button__text {
  margin: 12.5px 37px;
}

.filter-fear {
  filter: brightness(50%) contrast(200%) saturate(250%);
}

.filter-victory {
  filter: brightness(150%) saturate(200%);
}

.filter-perfect {
  filter: brightness(1000%) contrast(1000%) saturate(1000%);
}

.filter-friends {
  filter: brightness(140%) blur(3px) contrast(110%) saturate(120%)
    hue-rotate(30deg);
}

.filter-ideas {
  filter: brightness(140%) blur(2px) contrast(110%) saturate(120%)
    hue-rotate(180deg);
}

.filter-desperation {
  filter: brightness(150%) saturate(200%) hue-rotate(-90deg) sepia(80%)
    grayscale(0.4);
}

.filter-road {
  filter: brightness(1000%) blur(5px) contrast(1000%) saturate(1000%)
    invert(0.7);
}

.dilog-section {
  display: grid;
  justify-content: center;
}

.save-button {
  all: initial;
  border: var(--border);
  margin: 52px auto 100px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 20px 17px;
  background-color: var(--background-color);
  cursor: pointer;
}

.save-button .floppy-logo {
  inline-size: 21px;
  block-size: 21px;
}

.save-dialog {
  inline-size: 353px;
  padding: 0;
  border: var(--border);
}

.save-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog-info {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 30px;
  justify-content: center;
}

.dialog-info .floppy-logo {
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
}

.dialog-text {
  font-family: var(--PressStart2P-Regular), sans-serif;
  line-height: 100%;
  text-transform: uppercase;
}

.text-transform-style {
  text-transform: uppercase;
}

.save-dialog-button {
  all: initial;
  border: var(--border);
  inline-size: 293px;
  block-size: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto 30px;
  cursor: pointer;
}

.transition-style {
  transition: box-shadow 0.3s ease;
  position: relative;
  background-color: var(--background-color);
  overflow: hidden;
}

.transition-style::after {
  content: "";
  background-color: var(--main-color);
  position: absolute;
  inset: 0;
  inline-size: 100%;
  block-size: 100%;
  transform: translate(-100%);
  transform-origin: left center;
  transition: transform 0.5s ease-in-out;
}

.transition-style:hover::after {
  transform: translate(0);
}

.transition-style:focus {
  box-shadow: 2px 2px var(--main-color);
}

.floppy-logo {
  position: relative;
  color: var(--background-color);
  mix-blend-mode: difference;
  z-index: 2;
}

@media (width <= 375px) {
  .save-button {
    flex-direction: column;
  }

  .save-button .floppy-logo {
    inline-size: 28px;
    block-size: 28px;
  }
}
