/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--Inter-Variable), sans-serif;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--text-weight);
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  min-inline-size: 375px; 
  font-size: var(--font-size);
}

.header, .main {
  inline-size: var(--section-inline-size);

}

.header {
  min-block-size: clamp(20.438rem, 19.535rem + 3.85vw, 23rem);
  margin: 100px auto;
  border: var(--border);
  background-color: var(--background-color);
}

.logo {
  display: block;
  inline-size: clamp(21.438rem, 18.973rem + 10.52vw, 28.438rem);
  block-size: clamp(5.188rem, 4.637rem + 2.35vw, 6.75rem);
  margin: clamp(7.5rem, 7.28rem + 0.94vw, 8.125rem) auto;
}

.main {
  margin: 0 auto;
}

.card {
  border: var(--border);
  background-color: var(--background-color);
}

.card:not(:last-of-type) {
  margin-bottom: 54px;
}

.card-title {
  font-variation-settings: 'wght' var(--heading-weight);
  margin: 4px 10px;
}
  

.picture-box {
  position: relative;
}

.card-picture {
  inline-size: 100%;
}

.text-label {
  position: absolute;
  display: inline-block;
  font-family: 'PressStart2P-Regular.woff', sans-serif;
  font-size: var(--custom-font-size);
  right: 25px;
  top: 25px;
  opacity: 50%;
  mix-blend-mode: hard-light;
  text-shadow:
  -1px 0 #FFFFFF, 
  0 1px #FFFFFF, 
  1px 0 #FFFFFF, 
  0 -1px #FFFFFF;
}

.text-section {
  margin: 25px;
  display: grid;
  gap: 25px;
}

