/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--Inter-Variable), sans-serif;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--text-weight);
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  font-size: var(--font-size);
}

.header,
.main,
footer {
  inline-size: var(--section-inline-size);
}

.header {
  min-block-size: clamp(20.438rem, 19.535rem + 3.85vw, 23rem);
  margin: 100px auto;
  border: var(--border);
  background-color: var(--background-color);
}

.logo {
  display: block;
  inline-size: clamp(21.438rem, 18.973rem + 10.52vw, 28.438rem);
  block-size: clamp(5.188rem, 4.637rem + 2.35vw, 6.75rem);
  margin: clamp(7.5rem, 7.28rem + 0.94vw, 8.125rem) auto;
}

.main,
.footer {
  margin: 0 auto;
}

.card {
  border: var(--border);
  background-color: var(--background-color);
}

.card:not(:last-of-type) {
  margin-bottom: 54px;
}

.card-title {
  font-variation-settings: "wght" var(--heading-weight);
  margin: 4px 10px;
}

.picture-box {
  position: relative;
}

.card-picture {
  inline-size: 100%;
}

.text__label {
  position: absolute;
  display: inline-block;
  font-family: var(--PressStart2P-Regular), sans-serif;
  font-size: var(--custom-font-size);
  right: 25px;
  top: 25px;
  opacity: 50%;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
}

@supports ((text-stroke: 1px #ffffff) or (-webkit-text-stroke: 1px #ffffff)) {
  .text__label {
    -webkit-text-stroke: 1px #ffffff;
    text-stroke: 1px #ffffff;
    text-shadow: none;
  }
}

.text-section {
  margin: 25px;
  display: grid;
  gap: 25px;
}

.button-group {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}

.card__like-button {
  all: initial;
  inline-size: 130px;
  block-size: 38px;
  border: var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__icon-button {
  all: initial;
}

.button__text {
  display: inline-block;
  font-family: var(--PressStart2P-Regular), sans-serif;
  font-size: var(--custom-font-size);
  position: relative;
  color: var(--background-color);
  mix-blend-mode: difference;
  z-index: 2;
}

.card__like-button .button__text {
  margin: 12.5px 37px;
}

.fear {
  filter: brightness(50%) contrast(200%) saturate(250%);
}

.victory {
  filter: brightness(150%) saturate(200%);
}

.perfect {
   filter: brightness(1000%) contrast(1000%) saturate(1000%);
}

.friends {
  filter: brightness(140%) blur(3px) contrast(110%) saturate(120%) hue-rotate(30deg);
}

.ideas {
filter: brightness(140%) blur(2px) contrast(110%) saturate(120%) hue-rotate(180deg);

}

.desperation {
 filter: brightness(150%) saturate(200%) hue-rotate(-90deg) sepia(80%) grayscale(0.4);
}

.road {
  filter: brightness(1000%) blur(5px) contrast(1000%) saturate(1000%) invert(0.7);
}

.footer {
  display: grid;
  justify-content: center;
}

.save-button {
  all: initial;
  border: var(--border);
  margin: 52px auto 100px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 20px 17px;
  background-color: var(--background-color);
}

.save-button .floppy-logo {
  inline-size: 21px;
  block-size: 21px;
}

.save-dialog {
  inline-size: 353px;
  padding: 0;
  border: var(--border);
}

.save-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog-info {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 30px;
  justify-content: center;
}

.dialog-info .floppy-logo {
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
}

.save-dialog-button {
  all: initial; 
  border: var(--border);
  inline-size: 293px;
  block-size: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto 30px;
}

.transition-style {
  transition: box-shadow 0.3s ease;
  position: relative;
  background-color: var(--background-color);
} 


.transition-style::after {
  content: '';
  background-color: var(--main-color);
  position: absolute;
  inset: 0;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.5s ease-in-out;
  
}

.transition-style:hover::after {
  transform: scaleX(1);
}

.transition-style:focus {
  
  box-shadow: 2px 2px var(--main-color);

}

.floppy-logo {
  fill: var(--background-color);
}

@media (width <= 375px) {
  .save-button {
    flex-direction: column;
  }

  .save-button .floppy-logo {
  inline-size: 28px;
  block-size: 28px;
}
}

